@use './globals' as *;
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  background-color: var(--custom-white);
  color: var(--custom-white);
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform .5s ease-out, opacity .5s ease-out;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/logoBg.jpg') center/cover no-repeat;
    opacity: .7;
    filter: blur(.1px);
    z-index: -1;
    box-shadow: inset 0px -10px 20px rgba(255, 255, 255, .8);
  }
}

.header.fixed {
  opacity: 1;
  transform: translateY(0);
  position: fixed;
}

.header.scrolled-down {
  top: 10vh;
}

.header.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.header-logo {
  width: 60%;
  position: relative;
  font-weight: 500;
  letter-spacing: .3rem;
  text-wrap: nowrap;
  padding: 1rem .5rem;
  color: var(--custom-white);
  h1 {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    span {
      text-align: right;
      margin-left: 1.5rem;
    }
  }

}

.navWrap {
  display: flex;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  margin-right: 2rem;
}

.nav-button {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  color: inherit;
  text-wrap: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: color 0.5s ease;
}

.nav-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1rem;
  background-color: var(--custom-white);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
}

.nav-button:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.languageSelector {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 0 .5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.languageButton {    
  cursor: pointer;
}

.languageMenu {
  position: absolute;
  top: 100%;
  left: 0;
  text-shadow: 
    0.5px 0.5px 0 #3d3d3d, 
    -0.5px -0.5px 0 #3d3d3d,
    0.5px -0.5px 0 #3d3d3d,
    -0.5px 0.5px 0 #3d3d3d;
  z-index: 10;
}

.languageOption {
  margin: .2rem 0;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header-logo {
    width: 70%;
    padding: .3rem .5rem;
    h1 {
      flex-direction: column;
      font-size: 3rem;
      span {
        margin-left: 0;
        margin-top: .5rem;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .header-logo {
    width: 80%;
  }
}