@use "./main/home" as home;
@use "./main/galery" as galery;
@use "./main/about" as about;
@use "./main/contacts" as contacts;

main {
    margin-top: 5rem;
    font-family: "Rubik", sans-serif;
    color: var(--header-color-text);
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-block {
    min-height: 100vh;
}
@media screen and (max-width: 600px) {
    main {
        margin-top: 8rem;
    }
}